 <div class="container">

     <div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" ng-src="{{user.avatar_url}}" alt="{{user.show_title}}" height="150px" width="150px" border="0">
    </a>
  </div>

  <div class="media-body">
    <h4 class="media-heading">{{user.name}}</h4>
    <h5 class="media-heading">{{user.email}}</h5>
    <h6 class="media-heading">{{user.location}}</h6>
    <h6 class="media-heading">Created on: {{user.created_at}}</h6>
    <h6 class="media-heading">Last Updated: {{user.updated_at}}</h6>
    <h6 class="media-heading">{{user.Bio}}</h6>

  </div>

</div>

<br />
<br />

 </div>

          <div class="table-responsive">  
            <table class="table table-hover">
                <thead>
                    <tr align="text-center">
                        <th class="text-muted" ng-click="sortData('name')">Repository Name <div ng-class="getSortClass('name')"></div></th>
                        <th class="text-muted" ng-click="sortData('stargazers_count')">Repository Stars <div ng-class="getSortClass('stargazers_count')"></div></th>
                        <th class="text-muted" ng-click="sortData('language')">Repository Language <div ng-class="getSortClass('language')"></div></th>
                        <th class="text-muted">Clone the Repository</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="repo in repos | orderBy : sortColumn: reverseSort | filter: searchTerm">
                        <td>{{repo.name}}</td>
                        <td>{{repo.stargazers_count | number}}</td>
                        <td>{{repo.language}}</td>
                        <td><a data-ng-href="{{repo.clone_url}}">{{repo.clone_url}}</a></td>
                    </tr>
                </tbody>
            </table>
    
</div>  