<!DOCTYPE html>
<html ng-app="myApp">
    <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>  
    <script src="scripts/script.js" type="text/javascript"></script>
    <script src="scripts/filters.js" type="text/javascript"></script>
    <script src="scripts/github.js" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    </head>

    
    <body ng-controller="mainController"> 
        
        <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                      <h1 class="title-super">{{message}}</h1>
                     <!--  <h4 class="text-thin">{{createdUser}}</h4> -->
                </div>

                <div class="col-md-6 text-right text-uppercase">
                   <!--  <p>
                         <a target="_blank" href="https://angularjs.org/"><img class="title-logo" ng-src="/images/angularjslogo.jpg" alt="angularJS Logo" height="90px" width="130px"></a>
                         <span><a target="_blank" href="https://www.w3.org/TR/html5/"><img class="title-logo" ng-src="/images/html5logo.jpg" alt="html5 Logo" height="80px" width="90px"></a></span>
                         <span><a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Getting_started"> <img class="title-logo" ng-src="/images/css3.jpg" alt="css3 Logo" height="80px" width="90px"></a></span>
                         <span><a target="_blank" href="http://getbootstrap.com/getting-started/"><img class="title-logo" ng-src="/images/bootstrap.jpg" alt="bootstrap Logo" height="60px" width="90px"></a></span>
                         </p> -->

                          <p>
                         <a target="_blank" href="https://angularjs.org/"><img class="title-logo" ng-src="/images/angularbg.svg" alt="angularJS Logo" height="90px" width="530px"></a>
                </div>
            </div>
        </div>


            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>


<div class="row">
    <div class="col-md-12">

    </div>

    <div class="container">

        <h3>{{error}}</h3>

    </div>

<!-- creating bootstrap form -->

<form ng-submit="search(gituser)">
  <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">@</span>
    <!-- <label for="searchprofilename">Search your Git Profile Name</label> -->
    <input type="text" class="form-control" id="searchprofilename" placeholder="Enter your Git User Name" ng-model="gituser" required>
  </div>

<br />
  <div class="container">
  <button type="submit" class="btn btn-primary btn-lg" ng-click="search(gituser)">Submit</button>
  </div>
        <br />
        <br />

<div class="form-group">
    <label for="searchcurrentrepo"></label>
    <input type="text" class="form-control" id="searchcurrentrepo" placeholder="Search by Repository Name & Language" ng-model="searchTerm" >
  </div>

</form>

<!-- created bootstrap form -->

    <br />
    <br />


        
 <div class="container">

     <div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" ng-src="{{user.avatar_url}}" alt="{{user.show_title}}" height="150px" width="150px" border="0">
    </a>
  </div>

  <div class="media-body">
    <h4 class="media-heading">{{user.name}}</h4>
    <h5 class="media-heading">{{user.email}}</h5>
    <h6 class="media-heading">{{user.location}}</h6>
    <h6 class="media-heading">Created on: {{user.created_at}}</h6>
    <h6 class="media-heading">Last Updated: {{user.updated_at}}</h6>
    <h6 class="media-heading">{{user.Bio}}</h6>

  </div>

</div>

<br />
<br />

 </div>

          <div class="table-responsive">  
            <table class="table table-hover">
                <thead>
                    <tr align="text-center">
                        <th class="text-muted" ng-click="sortData('name')">Repository Name <div ng-class="getSortClass('name')"></div></th>
                        <th class="text-muted" ng-click="sortData('stargazers_count')">Repository Stars <div ng-class="getSortClass('stargazers_count')"></div></th>
                        <th class="text-muted" ng-click="sortData('language')">Repository Language <div ng-class="getSortClass('language')"></div></th>
                        <th class="text-muted">Clone the Repository</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="repo in repos | orderBy : sortColumn: reverseSort | filter: searchTerm">
                        <td>{{repo.name}}</td>
                        <td>{{repo.stargazers_count | number}}</td>
                        <td>{{repo.language}}</td>
                        <td><a data-ng-href="{{repo.clone_url}}">{{repo.clone_url}}</a></td>
                    </tr>
                </tbody>
            </table>
    
</div>   

    </body>
</html>